* {
  box-sizing: border-box;
  margin: auto;
}

body {
  border: 5px solid black;
}

h1 {
  font-family: cursive;
  color: red;
  border: 3px solid black;
  border-radius: 5px;
  background-color: hsl(0, 50%, 50%)
  {
    
